body {
  background: #011125;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 16px;
  color: #7C8DB3;
}

code {
  font-family: "Consolas", "Monaco", monospace;
}

table {
  color: #7C8DB3;
  margin: 15px 0;
  padding: 0;
  width: 100%;
}

table th {
    background-color: #03397c;
}

table,
table tr,
table th,
table td {
  border: 0px none;
}

table tr:nth-child(even) {
    background-color: #02224a;
}

.site-header {
    border: 0px none;
    min-height: 55.95px;
    padding: 20px 0;
}

.site-title, .site-title:visited {
  color: #B3B6B7;
  font-size: 1.5em;
  font-weight: bold;
}

.site-title:hover {
  text-decoration: none;
}

.page-content {
    padding: 0px 0;
}

h1.page-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #F7F3E3;
}

article h1.post-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #F7F3E3;
}

article .post-content h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2em 0 1em;
  color: #E52C5D;
}

.post-list h2,
.post-list h2 a.post-link {
  font-size: 1em;
  font-weight: bold;
  margin: 2em 0 1em;
}

.post-list h2 a.post-link {
  font-size: 1.3em;
}

article .post-content h3 {
  font-size: 1.1em;
  color: #E52C5D;
  font-weight: bold;
  margin: 2em 0 1em;
}

.post-list li {
  margin-bottom: 4em;
}

.post-list h2 a::before {
  content: "#";
  display: inline-block;
  width: 30px;
}

article h1::before,
article h2::before,
article h3::before {
  content: "#";
  display: inline-block;
  width: 30px;
}

article h2::before {
  content: "##";
  width: 40px;
  margin-left: -10px;
}

article h3::before {
  content: "###";
  width: 50px;
  margin-left: -20px;
}

.site-nav .page-link {
    color: #7DEDC5;
}

a, a:hover, a:visited {
  color: #C50773;
  text-decoration: none;
}

p {
  line-height: 1.8em;
}

article p {
  padding: 0 30px;
}

p em, p strong {
  color: #7DEDC5;
}

article footer {
  margin: 0 30px;
  padding: 15px 0;
  border-top: 1px solid #37445f;
}

article footer p {
  margin: 0;
  padding: 0;
}

.site-footer {
  border-top: 1px solid #37445f;
}

.svg-icon {
  fill: #37445f;
}

ul, ol {
  margin-left: 45px;
}

ul ul {
  margin-left: 15px;
}


ul.none {
  list-style-type: none;
  margin-left: 30px;
}

ul li, ol li {
  list-style-position: outside;
  line-height: 1.5em;
  padding-left: 10px;
}

.post-meta {
  margin: 1em 0 1em 30px;
  padding: 0;
  color: #576b96;
}

.post-excerpt {
  margin-left: 30px ;
}

pre, code {
  font-size: 1em;
  color: black;
}

code {
  background: #010b19;
  color: #2080f9;
  border-color: #0550ae;
  padding: 3px 5px;
  box-shadow: inset 0 1px 10px rgb(0 0 0 / 30%), 0 1px 0 rgb(255 255 255 / 10%), 0 -1px 0 rgb(0 0 0 / 50%);
}

pre code {
  background: none;
  border: 0px none;
  padding: 0;
  box-shadow: none;
}

article pre {
  margin: 15px 30px;
}

.hljs {
  background: none !important;
}

span.green {
  color: #7DEDC5;  
}

span.red {
  color: #E52C5D;
}

/* Pagination */

.pager {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 14px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4em;
}

.pagination li {
  margin: 0 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  color: #7C8DB3;
}

.pagination a {
  padding: 8px 12px;
  color: #7C8DB3;
  text-decoration: none;
  border: 1px solid #576b96;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #576b96;
  color: white;
}

.pagination .current-page {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-weight: normal;
  color: #ddd;
  background-color: #576b96;
  border-radius: 4px;
}

.pagination .pager-edge {
  display: flex;
  align-items: center;
  color: #7C8DB3;
  font-weight: normal;
}

