body {
  background: #011125;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 14px;
  color: #7C8DB3;
}

.site-header {
    border: 0px none;
    min-height: 55.95px;
    padding: 20px 0;
}

.site-title, .site-title:visited {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.site-title:hover {
  text-decoration: none;
}

article h1.post-title {
  font-size: 1.5em;
  font-weight: bold;
}

article .post-content h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2em 0 1em;
}

.post-list h3,
article .post-content h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 2em 0 1em;
}

.post-list h3 a::before {
  content: "#";
  display: inline-block;
}

article h1::before,
article h2::before,
article h3::before {
  content: "#";
  display: inline-block;
  width: 30px;
}

.site-nav .page-link {
    color: #7DEDC5;
}

a, a:hover, a:visited {
  color: #E52C5D;
}

article p {
  padding-left: 30px;
}

p em {
        color: #7DEDC5;
}

.site-footer {
  border-top: 1px solid #37445f;
}

.svg-icon {
  fill: #37445f;
}